[Unit]
Description=BoatNetMonitor Data Monitor App
After=network.target

[Service]
ExecStart=/home/tom/.nvm/versions/node/v20.18.2/bin/node /home/tom/BoatNetMonitor/data/monitor_data.js
WorkingDirectory=/home/tom/BoatNetMonitor/data
Restart=always
User=tom
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
