[Unit]
Description=BoatNetWiki Kiwix Server
After=network.target

[Service]
WorkingDirectory=/home/tom/BoatNetWiki
ExecStart=/bin/bash -c 'kiwix-serve --port=3002 $(ls /home/tom/BoatNetWiki/*.zim)'
Restart=always
User=tom

[Install]
WantedBy=multi-user.target
